* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.register-section {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px; /* при флексах прибивает к левому краю */
  margin: 20vh auto;
}

.text-article {
  text-align: center;  
  overflow: hidden;
  margin-bottom: 30px;
}

.form-heading {
  /* display: flex; */
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  align-items: center;
}

/* Горизонтальные линии ч-з позиционирование */
.register-span {
  position: relative;
  padding: 10px; /* padding на правый псевдоэлемент не работает */
}

.register-span::before,
.register-span::after {
  content: '';
  border: 1px solid rgb(128, 124, 124);
  position: absolute;
  top: 50%;
  width: 100%;
}

.register-span::before {
  left: -100%;
}

/* Горизонтальные линии ч-з флексы */

/* .form-heading::after,
.form-heading::before {
  flex: 1;
  content: '';
  border: 1px solid rgb(128, 124, 124);
}
.form-heading::after {
  margin-left: 20px;
  right: 0;
}

.form-heading::before {
  margin-right: 20px;
  left: 0;
} */

.register-form {
  background: #eeeeee;
  border: 2px solid black;
  border-radius: 10px;
  padding: 40px;
}

.input-style {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.two-sides-div {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.two-sides-input {

}

.checkbox {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: rgb(12, 180, 34);
}

.button {
  background-color: rgb(15, 172, 62);
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}